{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h1>{{ content.title }}</h1>
            <p>Type: {{ content.get_content_type_display }}</p>
            <p>Status: {{ content.get_status_display }}</p>
            <p>Favorite: {% if content.favorite %}Yes{% else %}No{% endif %}</p>
            <p>{{ content.description }}</p>
            <a href="{% url 'update_content' content.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_content' content.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</main>
{% endblock %}