body {
    background: rgb(80, 79, 79);
    color: white;
}

.navbar {
    background-color: transparent !important;
    color: white;
    padding: 5px 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* Estilo para los enlaces de navegación */
.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    border-radius: 20px;
}

.navbar-nav .nav-link:hover {
    background-color: white;
    color: black !important;
}

/* Estilo para los botones desplegables y la lupa */
.btn-dark, .btn-outline-light {
    background-color: transparent !important;
    border: none;
    color: white;
    transition: all 0.3s;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-dark:hover, .btn-outline-light:hover {
    background-color: white !important;
    color: black !important;
}

.btn-dark:hover i, .btn-outline-light:hover i {
    color: black !important;
}

.form-control {
    background-color: transparent !important;
    border: none;
    color: white;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.card {
    background: #202020;
    color: white;
    padding: 10px;
    margin-bottom: 2px;
}

.input {
    background: rgb(136, 179, 236);
    padding: 10px;
    text-align: center;
}